body {
  font-family: "Lexend", serif;
}

.gradient-background {
  background: linear-gradient(300deg, #2b59b4, #759ad8, #074dbd, #012868);
  background-size: 240% 240%;
  animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.user-pass-info {
  font-size: 0.8rem;
}

.header-logo-span {
  color: #de3163;
}

@media (max-width: 906px) {
  .dashboard-container {
    width: 100% !important;
    max-width: 100% !important;
  }
}

@media (max-width: 464px) {
  .dashboard-title-items {
    display: flex !important;
    flex-direction: column !important;
  }

  .dashboard-button {
    width: 100% !important;
  }
}
